APP_NAME=ComercioPro
APP_ENV=development
SECRET_KEY=cambia-esta-clave-en-produccion-usa-openssl-rand-hex-32
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM=HS256

# development = sqlite  |  production = mssql
DB_ENGINE=sqlite
SQLITE_PATH=./comerciopro.db

# SQL Server (producción)
MSSQL_SERVER=localhost
MSSQL_PORT=1433
MSSQL_DATABASE=ComercioPro
MSSQL_USER=sa
MSSQL_PASSWORD=YourStrong!Passw0rd
MSSQL_DRIVER=ODBC Driver 18 for SQL Server

DEFAULT_COMPANY_NAME=ComercioPro Demo
DEFAULT_BRANCH_NAME=Sucursal Principal
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASSWORD=Admin123!
DEFAULT_TAX_RATE=0.18
CURRENCY=DOP
CURRENCY_SYMBOL=RD$
